/* Main Header Div */
.page-header {
  margin: 1px 0px;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 175, 169);
}
/* Content Div */
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 85%;
}
.header-content h4 {
  font-size: 60px;
  font-family: Verdana;
  font-weight: 800;
  text-shadow: 1px solid white;
}
/* Intro Section */
.intro {
  margin: 1px 0px;
  display: flex;
  flex-direction: column;
  background-color: #f0ffff;
  width: 100%;
  height: 50vh;
  border-bottom: 1px dashed #555;
}
/* Intro Title */
.intro-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10vh;
  margin: 20px auto;
}
.intro-title p {
  font-size: 35px;
  font-family: Verdana;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 3px dotted red;
}
/* Intro Information */
.intro-information {
  display: flex;
  align-items: center;
  width: 90%;
  height: 20vh;
  margin: 15px auto;
}
.intro-information p {
  text-align: center;
  font-size: 22px;
  font-family: Verdana;
  font-weight: 500;
  line-height: 1.6;
}
.intro-information span {
  font-size: 20px;
  font-weight: 800;
  border-bottom: 3px dotted red;
  margin: 2px;
}
/* ---------------------------------------- */
/* Tech Stack Section */
.tech-stack {
  margin: 1px 0px;
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 100%;
  height: 120vh;
}
.tech-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10vh;
  margin: 30px auto;
}
.tech-title p {
  text-align: center;
  font-size: 35px;
  font-family: Verdana;
  font-weight: 500;
  line-height: 1.6;
  border-bottom: 3px dotted red;
}
/* Current Languages Section */
.tech-stack p {
  text-align: center;
  font-size: 22px;
  font-family: Verdana;
  font-weight: 500;
  line-height: 1.6;
}
.current-languages {
  width: 90%;
  height: 70vh;
  margin: 25px auto;
  display: inline-grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  background-color: #7e8b96;
  padding: 10px;
}
.grid-item {
  margin: 10px auto;
}
.grid-item img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .header-content h4 {
    font-size: 50px;
  }
  .intro {
    width: 100%;
  }
  .intro-title p {
    font-size: 18px;
  }
  .intro-information p {
    font-size: 15px;
  }
  .intro-information span {
    font-size: 18px;
  }
  .tech-stack {
    width: 100%;
  }
  .tech-title {
    width: 100%;
  }
  .tech-title p {
    font-size: 18px;
  }
  .current-languages {
    width: 100%;
    grid-template-columns: auto auto;
  }
  .grid-item {
    margin: 1px;
    width: 100%;
  }
  .grid-item img {
    width: 150px;
    height: 150px;
  }
}
